<div id="auction-app">
  <div class="card">
    <div v-if='mode===0'>
      <div>
        <h3>Open Auctions</h3>
        <table class="table items">
          <tr>
            <th>{{headers.desc}}</th>
            <th>{{headers.price}}</th>
            <th>{{headers.date}}</th>
            <th>{{headers.act}}</th>
          </tr>
          <tr v-for="item in items" :id='item.description'>
            <td>{{item.description}}</td>
            <td>{{item.price}}</td>
            <td>{{item.closingdate}}</td>
            <td>
              <button :id="item.description" v-on:click="biddingView(item)">Select</button>
            </td>
          </tr>
        </table>
      </div>      
    </div>
    <div v-else>
      <h3>Auction details</h3>
      <table class="table items">
        <tr>
          <td>{{headers.desc}}</td>
          <td>{{biddable.description}}</td>
        </tr>
        <tr>
          <td>{{headers.date}}</td>
          <td>{{biddable.closingdate}}</td>
        </tr>
        <tr>
          <td>Current price</td>
          <td>{{biddable.price}}</td>
        </tr>
      </table>
      <div class="input-group">
        <input id="inputBid" type="text" class="form-control" v-model="newBid" aria-describedby="basic-addon2">
        <div class="input-group-append">
          <button id="submitBid" type="button" v-on:click="bid">Place bid</button>
        </div>
      </div>
      <div>
        <button id="goBack" v-on:click="itemsView">Go back</button>
      </div>
    </div>
  </div>
</div>